<!DOCTYPE html>
<html>
<head>
	<%- include('./web-elements/modules/header', {pageTitle: 'Test Website'}) %>
</head>
<body>
<%- include('./web-elements/layout/l-header') %>

<main class="l-about-us override-bootstrap">
	<%- include('./web-elements/modules/landing-section', {
		img: 'https://via.placeholder.com/1200x700/b1abb6/b1abb6',
		title: 'Welcome to our company',
		desription: [
			'Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Mauris interdum erat eget quam mattis, suscipit fermentum sem ultrices. Quisque commodo quam sit amet velit porta molestie. Morbi sodales, massa at rutrum pharetra, lectus lorem rutrum velit, quis lobortis enim lacus eu eros. Vivamus suscipit eget nunc id interdum. ',
			'Ut dictum justo ut rutrum pellentesque. In vestibulum vel mi vel convallis. Integer semper consectetur erat et vestibulum. Vestibulum vulputate metus ac purus faucibus, at rhoncus enim eleifend. Vestibulum purus quam, tempus sit amet quam ac, hendrerit porttitor metus. Curabitur fermentum pellentesque adipiscing. Donec lobortis elementum orci. Donec et venenatis.'
		]
	}) %>
	<section class="classic-section bg-light py-5">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR SERVICES',
				title: 'What can we do for you?',
				subTitle: 'Mauris eget ligula vel nulla dignissim pharetra non sed orci. Praesent consequat egestas dapibus. Quisque faucibus erat at metus adipiscing lacinia.'
			}) %>
			<div class="row mt-5">
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-star',
						title: 'Brand creation',
						description: 'Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida posuere.'
					}) %>
				</div>
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-asterisk',
						title: 'Interface design',
						description: 'Donec sed dui consectetur, condimentum tellus nec, lacinia felis. Aenean vehicula erat a justo lobortis, non euismod orci vulputate.'
					}) %>
				</div>
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-trophy',
						title: 'Graphic design',
						description: 'Nam pharetra justo turpis, quis rutrum lorem lobortis euismod. Praesent augue, consectetur ultricies eros non, lacinia scelerisque ante.'
					}) %>
				</div>
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-cog',
						title: 'Web development',
						description: 'Aenean vitae neque mi. Phasellus tempor risus non risus tristique, quis egestas velit vulputate. Sed porttitor non nunc non pharetra.'
					}) %>
				</div>
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-thumbs-up',
						title: 'Online marketing',
						description: 'Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim.'
					}) %>
				</div>
				<div class="col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-file-text',
						title: 'Information visualization',
						description: 'Integer quis tristique arcu. Ut convallis purus purus, ut facilisis lorem pulvinar sit. Curabitur ullamcorper purus non auctor consectetur.'
					}) %>
				</div>
			</div>
		</div>
	</section>
	<section class="classic-section bg-light py-5">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR CAPABILITIES',
				title: 'Things we are good at'
			}) %>
			<div class="row">
				<div class="col-lg-6">
					<div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Collapsible Group Item #1
							  </button>
							</h5>
						  </div>
					  
						  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						  </div>
						</div>
						<div class="card">
						  <div class="card-header" id="headingTwo">
							<h5 class="mb-0">
							  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Collapsible Group Item #2
							  </button>
							</h5>
						  </div>
						  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						  </div>
						</div>
						<div class="card">
						  <div class="card-header" id="headingThree">
							<h5 class="mb-0">
							  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Collapsible Group Item #3
							  </button>
							</h5>
						  </div>
						  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						  </div>
						</div>
					  </div>
				</div>
				<div class="col-lg-6">
					<ul>
						<li>
							<div class="row justify-content-between">
								<div class="col-lg-6">
									<h3 class="h6 text-uppercase">Photoshop</h3>
								</div>
								<div class="col-lg-6 text-right">
									<p>Pro</p>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="carouselExampleIndicators" class="carousel carousel-adjust-by-content carousel-indicator-circle slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h5">Robert Bringhurst</h3>
					</div>
				</div>
				<div class="carousel-item" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h6">Robert Bringhurst</h3>
					</div>
				</div>
				<div class="carousel-item" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h5">Robert Bringhurst</h3>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	<section class="classic-section bg-light py-5">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR TEAM',
				title: 'The right people'
			}) %>
			<div class="row">
				<div class="col-lg-3">
					<div class="card-with-avatar">
						<div class="card-with-avatar-image">
							<img src="https://via.placeholder.com/270x280/b1abb6/b1abb6" alt="">
						</div>
						<div class="card-with-avatar-content">
							<h3 class="h5 font-weight-bold">Robert Judd</h3>
							<p>CEO</p>
							<hr>
							<ul class="card-with-avatar-social">
								<li>
									<a href="#">
										<i class="fa fa-facebook-official"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-linkedin-square"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="classic-section bg-light py-5">
		<div class="l-container">
			<div class="row">
				<div class="col-lg-3">
					<%- include('./web-elements/modules/section-header', {
						upperText: 'OUR CLIENTS',
						title: 'Meet our happy customers',
						modifier: 'text-right'
					}) %>
					<p>Pellentesque varius ipsum sed odio tristique lacinia. Mauris vel felis at mauris sollicitudin condimentum.</p>
				</div>
				<div class="col-lg-9">
					<%- include('./web-elements/modules/section-header', {
						upperText: 'OUR TEAM',
						title: 'The right people'
					}) %>
				</div>
			</div>
		</div>
	</section>
</main>

<%- include('./web-elements/layout/l-footer') %>
<%- include('./web-elements/modules/footer') %>
</body>
</html>