<!DOCTYPE html>
<html>
<head>
	<%- include('./web-elements/modules/header', {pageTitle: 'Test Website'}) %>
</head>
<body class="override-bootstrap animation">
<div class="mask">
	<div class="mask-logo">
		<img src="./images/logo.png" width="40" height="40" class="d-inline-block align-middle" alt="">
		<span>PLUTO</span>
	</div>
</div>
<%- include('./web-elements/layout/l-header') %>

<main class="l-about-us">
	<%- include('./web-elements/modules/landing-section', {
		img: 'https://via.placeholder.com/1200x700/b1abb6/b1abb6',
		title: 'Welcome to our company',
		desription: [
			'Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Mauris interdum erat eget quam mattis, suscipit fermentum sem ultrices. Quisque commodo quam sit amet velit porta molestie. Morbi sodales, massa at rutrum pharetra, lectus lorem rutrum velit, quis lobortis enim lacus eu eros. Vivamus suscipit eget nunc id interdum. ',
			'Ut dictum justo ut rutrum pellentesque. In vestibulum vel mi vel convallis. Integer semper consectetur erat et vestibulum. Vestibulum vulputate metus ac purus faucibus, at rhoncus enim eleifend. Vestibulum purus quam, tempus sit amet quam ac, hendrerit porttitor metus. Curabitur fermentum pellentesque adipiscing. Donec lobortis elementum orci. Donec et venenatis.'
		]
	}) %>
	<section class="classic-section bg-light">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR SERVICES',
				title: 'What can we do for you?',
				subTitle: 'Mauris eget ligula vel nulla dignissim pharetra non sed orci. Praesent consequat egestas dapibus. Quisque faucibus erat at metus adipiscing lacinia.'
			}) %>
			<div class="row classic-section-content">
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-star',
						title: 'Brand creation',
						description: 'Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida posuere.'
					}) %>
				</div>
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-asterisk',
						title: 'Interface design',
						description: 'Donec sed dui consectetur, condimentum tellus nec, lacinia felis. Aenean vehicula erat a justo lobortis, non euismod orci vulputate.'
					}) %>
				</div>
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-trophy',
						title: 'Graphic design',
						description: 'Nam pharetra justo turpis, quis rutrum lorem lobortis euismod. Praesent augue, consectetur ultricies eros non, lacinia scelerisque ante.'
					}) %>
				</div>
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-cog',
						title: 'Web development',
						description: 'Aenean vitae neque mi. Phasellus tempor risus non risus tristique, quis egestas velit vulputate. Sed porttitor non nunc non pharetra.'
					}) %>
				</div>
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-thumbs-up',
						title: 'Online marketing',
						description: 'Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim.'
					}) %>
				</div>
				<div class="classic-section-content-item col-lg-4">
					<%- include('./web-elements/modules/card-with-icon', {
						icon: 'fa-file-text',
						title: 'Information visualization',
						description: 'Integer quis tristique arcu. Ut convallis purus purus, ut facilisis lorem pulvinar sit. Curabitur ullamcorper purus non auctor consectetur.'
					}) %>
				</div>
			</div>
		</div>
	</section>
	<section class="classic-section bg-white">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR CAPABILITIES',
				title: 'Things we are good at'
			}) %>
			<div class="row classic-section-container-sm">
				<div class="col-lg-6">
					<div id="accordion" class="accordion">
						<div class="card">
							<div class="card-header" id="js-heading-1">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#js-accordion-1" aria-expanded="true" aria-controls="js-accordion-1">
										Problems solving
									</button>
								</h5>
							</div>
					  
							<div id="js-accordion-1" class="collapse show card-content" aria-labelledby="js-heading-1" data-parent="#accordion">
								<div class="card-body">
									Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit.								
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="js-heading-2">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#js-accordion-2" aria-expanded="true" aria-controls="js-accordion-2">
										Systems monitoring
									</button>
								</h5>
							</div>
					  
							<div id="js-accordion-2" class="collapse card-content" aria-labelledby="js-heading-2" data-parent="#accordion">
								<div class="card-body">
									Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit.								
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header " id="js-heading-3">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#js-accordion-3" aria-expanded="true" aria-controls="js-accordion-3">
										Affect management
									</button>
								</h5>
							</div>
							<div id="js-accordion-3" class="collapse card-content" aria-labelledby="js-heading-3" data-parent="#accordion">
								<div class="card-body">
									Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit.								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="progress-with-caption">
						<li>
							<div class="row justify-content-between">
								<div class="col-lg-6">
									<h3 class="h6 text-uppercase">Photoshop</h3>
								</div>
								<div class="col-lg-6 text-right">
									<p>Pro</p>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96%" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
						<li>
							<div class="row justify-content-between">
								<div class="col-lg-6">
									<h3 class="h6 text-uppercase">Illustrator</h3>
								</div>
								<div class="col-lg-6 text-right">
									<p>Very good</p>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90%" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
						<li>
							<div class="row justify-content-between">
								<div class="col-lg-6">
									<h3 class="h6 text-uppercase">InDesign</h3>
								</div>
								<div class="col-lg-6 text-right">
									<p>Good</p>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
						<li>
							<div class="row justify-content-between">
								<div class="col-lg-6">
									<h3 class="h6 text-uppercase">After Effects</h3>
								</div>
								<div class="col-lg-6 text-right">
									<p>Average</p>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40%" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="carouselExampleIndicators" class="carousel carousel-adjust-by-content carousel-indicator-circle slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h5">Robert Bringhurst</h3>
					</div>
				</div>
				<div class="carousel-item" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h6">Robert Bringhurst</h3>
					</div>
				</div>
				<div class="carousel-item" style="background-color: #453951;">
					<div class="carousel-caption">
						<h2 class="h3">Typography at its best is a visual form of language linking timelessness and time.</h2>
						<h3 class="h5">Robert Bringhurst</h3>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	<section class="classic-section bg-white">
		<div class="l-container">
			<%- include('./web-elements/modules/section-header', {
				upperText: 'OUR TEAM',
				title: 'The right people'
			}) %>
			<div class="row classic-section-container-md">
				<div class="col-lg-3">
					<%- include('./web-elements/modules/card-with-avatar', {
						image: 'https://via.placeholder.com/270x280/b1abb6/b1abb6',
						name: 'Robert Judd',
						position: 'CEO' 
					}) %>
				</div>
				<div class="col-lg-3">
					<%- include('./web-elements/modules/card-with-avatar', {
						image: 'https://via.placeholder.com/270x280/b1abb6/b1abb6',
						name: 'Eva Barnes',
						position: 'DESIGNER' 
					}) %>
				</div>
				<div class="col-lg-3">
					<%- include('./web-elements/modules/card-with-avatar', {
						image: 'https://via.placeholder.com/270x280/b1abb6/b1abb6',
						name: 'Eugene Fletcher',
						position: 'DEVELOPER' 
					}) %>
				</div>
				<div class="col-lg-3">
					<%- include('./web-elements/modules/card-with-avatar', {
						image: 'https://via.placeholder.com/270x280/b1abb6/b1abb6',
						name: 'Janet McKenzie',
						position: 'SUPPORT' 
					}) %>
				</div>
			</div>
		</div>
	</section>
	<section class="classic-section client bg-light">
		<div class="l-container">
			<div class="row client">
				<div class="col-lg-3 client-content">
					<%- include('./web-elements/modules/section-header', {
						upperText: 'OUR CLIENTS',
						title: 'Meet our happy customers',
						modifier: 'text-left'
					}) %>
					<p>Pellentesque varius ipsum sed odio tristique lacinia. Mauris vel felis at mauris sollicitudin condimentum.</p>
				</div>
				<div class="col-lg-9">
					<div class="row client-group">
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
						<div class="client-group-item col-lg-3">
							<img src="https://via.placeholder.com/195x90/b1abb6/b1abb6" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('./web-elements/modules/cta-buy', {
		title: 'Like what you see? Buy this template!',
		buttonText: 'TAKE MY MONEY'
	}) %>
	<section class="cta-subscription text-center">
		<div class="l-container">
			<div class="row align-items-center">
				<div class="col-lg-6 cta-subscription-sns">
					<div class="row align-items-center">
						<p>FOLLOW US</p>
						<ul class="row social-list m-0">
							<li>
								<a href="#" class="social-link social-link-circle">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-link social-link-circle">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-link social-link-circle">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-link social-link-circle">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 cta-subscription-form">
					<div class="row align-items-center">
						<p>GET THE NEWSLETTER</p>
						<form class="form-inline">
							<input class="form-control form-control-outline" type="email" placeholder="Your email address">
							<button class="btn btn-sm btn-orange" type="submit">SUBSCRIBE</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<%- include('./web-elements/layout/l-footer') %>
<%- include('./web-elements/modules/footer') %>
</body>
</html>